<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.automanage.base.system.dao.mapper.TSysUserMapper">
  <resultMap id="BaseResultMap" type="com.automanage.base.system.dao.po.TSysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="REGION_ID" jdbcType="DECIMAL" property="regionId" />
    <result column="DUTY_ID" jdbcType="DECIMAL" property="dutyId" />
    <result column="LOGIN_NUM" jdbcType="DECIMAL" property="loginNum" />
    <result column="DEPARTMENT_ID" jdbcType="DECIMAL" property="departmentId" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATOR_ID" jdbcType="DECIMAL" property="creatorId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MODIFIER_ID" jdbcType="DECIMAL" property="modifierId" />
    <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="CONTACT_TELEPHONE" jdbcType="VARCHAR" property="contactTelephone" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.automanage.base.system.po.TSysUser">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="REGION_ID" jdbcType="DECIMAL" property="regionId" />
    <result column="DUTY_ID" jdbcType="DECIMAL" property="dutyId" />
    <result column="LOGIN_NUM" jdbcType="DECIMAL" property="loginNum" />
    <result column="DEPARTMENT_ID" jdbcType="DECIMAL" property="departmentId" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATOR_ID" jdbcType="DECIMAL" property="creatorId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MODIFIER_ID" jdbcType="DECIMAL" property="modifierId" />
    <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="CONTACT_TELEPHONE" jdbcType="VARCHAR" property="contactTelephone" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from t_sys_user
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.automanage.base.system.po.TSysUser">
    insert into t_sys_user (ID, CODE, NAME, 
      PASSWORD, REGION_ID, DUTY_ID, 
      LOGIN_NUM, DEPARTMENT_ID, DESCRIPTION, 
      CREATOR_ID, CREATE_DATE, MODIFIER_ID, 
      MODIFY_DATE, VERSION, CONTACT_TELEPHONE
      )
    values (#{id,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{regionId,jdbcType=DECIMAL}, #{dutyId,jdbcType=DECIMAL}, 
      #{loginNum,jdbcType=DECIMAL}, #{departmentId,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=DECIMAL}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, #{contactTelephone,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.automanage.base.system.po.TSysUser">
    update t_sys_user
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      REGION_ID = #{regionId,jdbcType=DECIMAL},
      DUTY_ID = #{dutyId,jdbcType=DECIMAL},
      LOGIN_NUM = #{loginNum,jdbcType=DECIMAL},
      DEPARTMENT_ID = #{departmentId,jdbcType=DECIMAL},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MODIFIER_ID = #{modifierId,jdbcType=DECIMAL},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      CONTACT_TELEPHONE = #{contactTelephone,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select ID, CODE, NAME, PASSWORD, REGION_ID, DUTY_ID, LOGIN_NUM, DEPARTMENT_ID, DESCRIPTION, 
    CREATOR_ID, CREATE_DATE, MODIFIER_ID, MODIFY_DATE, VERSION, CONTACT_TELEPHONE
    from t_sys_user
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, CODE, NAME, PASSWORD, REGION_ID, DUTY_ID, LOGIN_NUM, DEPARTMENT_ID, DESCRIPTION, 
    CREATOR_ID, CREATE_DATE, MODIFIER_ID, MODIFY_DATE, VERSION, CONTACT_TELEPHONE
    from t_sys_user
  </select>
</mapper>